p{
    text-align: center;
    font-size: large;
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
body{
    background: gold;
}
#sometext{
    color: black;
}
a{
    color: crimson;
}
img{
    width: 200px;
    height: 200px;
}