#sajatkep {
width: 400px;
height: 400px;    
}
body{
    font-style: italic;
    font-size: 48px;
    text-align: center;
    background-color:dimgray;
}
#szoveg{
    text-align: left;
    margin-left: 100px;
    color: aquamarine;
}
#elerhetosegek{
width: 100px;
height: 100px;



}
#szoveg2{
    text-align: left;
}

#adams{
    float: left;
    color: lime;
}
#pityesz{
    float: right;
    color: lime;
}

